.app {
  min-height: 100vh;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter p {
  margin-top: 10px;
  font-size: 1.5rem;
}

.counter button {
  margin: 5px;
}

.MuiGrid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.mobile.menu-link {
  color: black;
}

.menu-link .MuiButtonBase-root {
  margin: 1rem 0;
  color: white;
  display: block;
}
