.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.counter p {
  font-size: 1.5rem;
}
